* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div{
    padding: 1%;
}

.d-none{
    display: none;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.2)
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.white {
    color: white;
}

.blur {
    filter: blur(2px);
}

#colorModalBack{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
}

#colorModalHead {
    display: flex;
    flex-direction: row-reverse;
}

#colorModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: min(50vh, 50vw);
    width: min(50vh, 50vw);
    text-align: center;
}

#colorModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#colorModalClose {
    border: 1px solid transparent; 
    padding: 0.5rem;
    background: transparent;
    cursor: pointer;
}

#colorModalClose:hover{
    background: rgba(0,0,0,.25);
}

textarea {
    background-color: black;
    color: lime;
    padding: 1%;
    font-family: 'consolas', monospace;
    overflow: scroll;
}

li {
    list-style: none;
}